# Stock Market Simulation

"We're going to be rich!" -Bernie Madoff

### Part 1:
For this first part, the goal is to get data into Python using the website: https://www.quandl.com/tools/python

In [39]:
#import quandl
import quandl
quandl.ApiConfig.api_key = 'XWraM_oUgKfXWAwQr44y'
quandl.ApiConfig.api_version = '2015-04-09'

#set key (false for non premium users apparently)
quandl.ApiConfig.verify_ssl = False

#save local key
quandl.save_key("XWraM_oUgKfXWAwQr44y")

### Part 2:
We now need to load the data. Quandl has two types of data: time series and tables(not time series). Some details for how to call the data can be found in the links below:
##### https://blog.quandl.com/api-for-stock-data
##### https://docs.quandl.com/docs/python-time-series
##### https://www.quandl.com/databases/ZEE/documentation 
(scroll to the bottom to see the free sample data companies they offer)

In [41]:
data = quandl.get('BCIW/_ATX',ticker='AAPL')

data.head()

C:\Users\Marilyn\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

               Open     High      Low    Close  Volume
Date
2017-01-03  2655.40  2700.89  2655.40  2685.02     0.0
2017-01-04  2685.97  2696.51  2671.44  2682.64     0.0
2017-01-05  2682.82  2699.39  2679.81  2696.30     0.0
2017-01-09  2696.42  2697.14  2668.93  2678.69     0.0
2017-01-10  2678.64  2682.49  2653.51  2659.70     0.0